<div class="container py-3">
  <div class="row">
    <div class="col-lg-3">
      <app-category-list></app-category-list>
    </div>
    <div>
      <pkol-installment-widget api_url="https://stpc.pkoleasing.pl" widget_style="2" leasing_form_id="pko-leasing-form"
                               shop_id="170141498" total_net_value="155399,12" unique_item_quantity="3"
                               product_1_category_id="1073"
                               product_1_quantity="1" ></pkol-installment-widget>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
