<div class="row">
  <div class="col-xl-9">
    <a
      [routerLink]="['/', 'product', product.id]"
      class="list-group-item clearfix"
      routerLinkActive="active"
      style="cursor: pointer;">
      <h4 [textContent]="product.name" class="list-group-item-heading">Product name</h4>
    </a>
    <p [textContent]="product.description.substr(0,150)" class="list-group-item-text">Description</p>
  </div>
  <div class="col-xl-3">
    <img [src]="product.image" alt="{{product.name}}" class="img-responsive" style="max-height: 200px">
  </div>
</div>
<hr>

