<div *ngIf="this.products">


  <link href="https://stpc.pkoleasing.pl/leasing/assets/widget/pkol-installment-widget-styles.css"
        rel="stylesheet"
        type="text/css"/>
  <p>-Widget pointer- \/</p>
  <div style="margin-top: 30px">
    <pkol-installment-widget
      api_url="{{API_URL}}"
      leasing_form_id="{{LEASING_FORM_ID}}"
      shop_id="{{SHOP_ID}}"
      total_net_value="{{products[0].net_value}}"
      unique_item_quantity="{{products[0].product_quantity}}"
      product_1_category_id="{{products[0].product_category}}"
      product_1_quantity="{{products[0].product_quantity}}"
      product_1_net_value="{{products[0].net_value}}"
      widget_style="{{widget_style}}">
    </pkol-installment-widget>
  </div>

  <div style="display: none;">
    <form id="pko-leasing-form" method="POST">

      <input id="returnLink" name="returnLink" value="https://morele.net">
      <input id="shopName" name="shopName" value="X-Shop PW">
      <input id="shopId" name="shopId" value="{{SHOP_ID}}">
      <input id="orderId" name="orderId" value="2asf-2q34nvg-asd234">
      <input id="source" name="source" value="{{source}}">
      <span *ngFor="let product of products; let i = index">
        <input id="{{'productName' + (i+1)}}" name="{{'productName' + (i+1)}}" value="{{product.name}}">
        <input id="{{'productQuantity' + (i+1)}}" name="{{'productQuantity' + (i+1)}}"
               value="{{product.product_quantity}}">
        <input id="productPrice1" name="{{'productPrice' + (i+1)}}" value="{{product.total_value}}">
        <input id="{{'productNetPrice' + (i+1)}}" name="{{'productNetPrice' + (i+1)}}" value="{{product.net_value}}">
        <input id="{{'productAvatarUrl' + (i+1)}}" name="{{'productAvatarUrl' + (i+1)}}"
               value="{{product.image}}">
        <input id="{{'productCategory' + (i+1)}}" name="{{'productCategory' + (i+1)}}"
               value="{{product.product_category}}">
        <input id="{{'productVatRate'}}" name="{{'productVatRate' + (i+1)}}" value="{{product.product_vat_rate}}">
      </span>
      <input id="uniqueItemQuantity" name="uniqueItemQuantity" value="{{unique_product_quantity}}">
      <input id="totalValue" name="totalValue" value="{{total_value}}">
      <input id="totalNetValue" name="totalNetValue" value="{{total_net_value}}">


    </form>
  </div>

</div>
