<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs col-sm-6 col-lg-3 text-sm-left">
        <h5 class="text-white">Zakupy</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" routerLink="ftr/delivery">Dostawa</a></li>
          <li><a class="text-white" routerLink="ftr/shipmentTracking">Śledzenie przesyłki</a></li>
          <li><a class="text-white" routerLink="ftr/returnsAndComplaints">Zwroty i reklamacje</a></li>
          <li><a class="text-white" routerLink="ftr/giftCards">Karty podarunkowe</a></li>
          <li><a class="text-white" routerLink="ftr/installmentPurchases">Zakupy na raty</a></li>
        </ul>
      </div>
      <div class="col-xs col-sm-6 col-lg-3 text-sm-left">
        <h5 class="text-white">Informacje</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" routerLink="ftr/helpCenter">Centrum pomocy</a></li>
          <li><a class="text-white" routerLink="ftr/shopRules">Regulamin sklepu</a></li>
          <li><a class="text-white" routerLink="ftr/privacyPolicy">Polityka prywatności</a></li>
          <li><a class="text-white" routerLink="ftr/tutorials">Poradniki</a></li>
        </ul>
      </div>
      <div class="col-xs col-sm-6 col-lg-3 text-sm-left">
        <h5 class="text-white">Monster</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" routerLink="ftr/aboutUs">O nas</a></li>
          <li><a class="text-white" routerLink="ftr/contactUs">Kontakt</a></li>
          <li><a class="text-white" routerLink="ftr/stationaryStores">Sklepy stacjonarne</a></li>
          <li><a class="text-white" routerLink="ftr/location">Lokalizacja</a></li>
          <li><a class="text-white" routerLink="ftr/job">Praca</a></li>
        </ul>
      </div>
      <div class="col-xs col-sm-6 col-lg-3 text-sm-left">
        <h5 class="text-white">Newsletter</h5>
        <p class="text-white">Zapisz sie do newslettera, aby nie przegapić żadnych promocji!</p>

        <div class="input-group">
          <input class="form-control text-white" type="text" placeholder="E-mail">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button">Zapisz!</button>
          </div>
        </div><!-- /input-group -->
      </div>

    </div>
  </div>
  <div class="container pt-3">
    <p class="m-0 text-center text-white">Copyright &copy; Monster 2020</p>
  </div>
  <!-- /.container -->
</footer>
