<div class="main">
  <div class="mes-title">
    <div style="padding-top: 20px; padding-bottom: 20px; font-size: 25px" class="btn btn-success btn-block btn-lg">
      W tym miejscu znajdują się wszystkie twoje wiadomości.
    </div>
  </div>
  <div>
    <div *ngFor="let message of messages">

      <div>
        <div *ngIf="message.fromUser === true" class="from-user">
          <div class="text-in-message">
            <p style="font-weight: bold">Moja wiadomość</p>
            {{message.content}}
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="message.fromUser === false" class="from-service">
          <div class="text-in-message">
            <p style="font-weight: bold">Przedstawiciel serwisu Monster.pl</p>
            {{message.content}}
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button routerLink="/ftr/contactUs" style="margin-top: 20px"  class="btn btn-success btn-block btn-lg">Odpisz na ostatnią wiadomość lub napisz nowe zapytanie</button>
    </div>
  </div>
</div>
