<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">
          <i class="fab fa-optin-monster fa-3x text-success"></i>
          Monster
      </a>

    <div>
      <form class="input-group">
          <input class="form-control" type="text" placeholder="Czego szukasz...">
<!--todo fetch it from service-->
              <select class="form-control" id="gender">
                  <option>Wszędzie</option>
                  <option>Laptopy</option>
                  <option>AGD</option>
                  <option>Telewziory</option>
                  <option>RTV</option>
                  <option>Lodówki</option>
              </select>


          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Szukaj</button>
          </div>
      </form>
    </div>
    <div class="d-inline-block">
      <a class="text-danger" href="#"><i class="far fa-heart fa-2x mr-3"></i></a>
      <a class="text-success nav-link enabled" routerLink="/bucket" href="#"><i class="fas fa-shopping-basket fa-2x mr-3"></i></a>
      <a class="text-dark" href="#"><i class="far fa-user fa-2x"></i></a>
    </div>
  </div>
  <!-- rigth -->
<!--  <div class="nav navbar-nav ml-auto w-100 justify-content-end">-->
<!--    <a *ngIf ="!isUserLoggedIn()" class="nav-link enabled" routerLink="/protected">Login</a>-->
<!--    <a *ngIf ="!isUserLoggedIn()" class="nav-link disabled" href="#">Register</a>-->
<!--    <a (click)="logout()" *ngIf ="isUserLoggedIn()" class="nav-link enabled" routerLink="/">Logout</a>-->
<!--  </div>-->
</nav>
