<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">
          <i class="fab fa-optin-monster fa-3x text-success"></i>
          Monster
      </a>
          
    <div>
      <form class="input-group">			
          <input class="form-control" type="text" placeholder="Czego szukasz...">   

              <select class="form-control" id="gender">
                  <option>Wszędzie</option>
                  <option>Laptopy</option>
                  <option>AGD</option>
                  <option>Telewziory</option>
                  <option>RTV</option>
                  <option>Lodówki</option>
              </select>


          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Szukaj</button>
          </div> 
      </form>
    </div>
    <div class="d-inline-block">
      <a class="text-danger" href="#"><i class="far fa-heart fa-2x mr-3"></i></a>
      <a class="text-success" href="#"><i class="fas fa-shopping-basket fa-2x mr-3"></i></a>
      <a class="text-dark" href="#"><i class="far fa-user fa-2x"></i></a>            
    </div>
  </div>
</nav>

<nav class="navbar navbar-dark bg-dark" style="font-size:25px; margin-top:90px;">
  <div class="container text-light">
    <a class="text-white" href="#">Laptopy</a>
    <a class="text-white" href="#">AGD</a>
    <a class="text-white" href="#">Telewziory</a>
    <a class="text-white" href="#">RTV</a>
    <a class="text-white" href="#">Lodówki</a>
  </div>
</nav>