<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container" style="padding: 0">

      <div class="col-2" style="padding: 0">
        <a class="navbar-brand" routerLink="/">
          <i class="fab fa-optin-monster fa-3x text-success"></i>
          Monster
        </a>
      </div>

      <div class="col-6 d-flex justify-content-center" style="padding: 0">
        <label style="display: inline">Szukaj po nazwie:</label>
        <p-autoComplete
          (completeMethod)="searchByPartialName($event)"
          (onSelect)="navigateToProduct()"
          [(ngModel)]="selectedProduct"
          [forceSelection]="true"
          [minLength]="2"
          [suggestions]="matchedProducts"
          field="name"></p-autoComplete>
      </div>

      <!-- right -->
      <div class="col-2 d-inline-block">
        <div style="float: right">
          <a *ngIf="isUserLoggedIn()" class="text-danger" (click)="openChat()">
            <p>FAQ bot</p>
          </a>
          <a *ngIf="isUserLoggedIn()" class="text-danger" routerLink="/">
            <i class="far fa-heart fa-2x mr-3"></i>
          </a>
          <a class="text-success" routerLink="/bucket">
            <i
              class="fas fa-shopping-basket fa-2x mr-3"></i>
          </a>
          <a *ngIf="isUserLoggedIn()" class="text-dark" routerLink="/profile">
            <i class="far fa-user fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="col-2 d-inline-block">
        <a style="display: inline" *ngIf="!isUserLoggedIn()" class="text-dark nav-link enabled" routerLink="/login">Logowanie</a>
        <a style="display: inline" *ngIf="!isUserLoggedIn()" class="text-dark nav-link enabled" routerLink="/register">Rejestracja</a>
        <a style="display: inline" *ngIf="isUserLoggedIn()" class="text-dark nav-link enabled"
           routerLink="/" (click)="logOut()" >
          <i class="fa fa-sign-out fa-2x"></i>
        </a>
      </div>

  </div>
</nav>
