<h2 class="text-center">Zamówienia</h2>

<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Miasto</th>
      <th scope="col">Adres</th>
      <th scope="col">Status</th>
      <th scope="col">Metoda płatności</th>
      <th scope="col">Dostawa</th>
      <th scope="col">Suma[zł]</th>
      <th scope="col">Dodaj komentarz</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of (orders | async), let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ order.city }}</td>
      <td>{{ order.street_address }}</td>
      <td>{{ getStatusById(order.status) }}</td>
      <td>{{ getPaymentTypeById(order.payment_type) }}</td>
      <td>{{ getDeliveryTypeById(order.delivery_type) }}</td>
      <td>{{ order.total_price }}</td>
      <td>
        <mat-menu #appMenu="matMenu">
          <div *ngFor="let product of order.products">
            <button mat-menu-item routerLink="/product/review/{{product.id}}">
              {{(product.name > 15)? (product.name | slice:0:15)+'...':(product.name) }}
            </button>
          </div>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>

<!--        <button mat-icon-button disabled aria-label="Redirect icon">-->
<!--          <mat-icon routerLink="/product/review/{{order.id}}">open_in_new</mat-icon>-->
<!--        </button>-->
      </td>
    </tr>
    </tbody>
  </table>
</div>
