<!--<button (click)="isLinear = !isLinear" id="toggle-linear" mat-raised-button>-->
<!--  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--</button>-->
<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="zeroFormGroup">
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produkt</th>
          <th scope="col">Sztuk</th>
          <th scope="col">Cena[zł]</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of (bucketEntries | async), let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ entry.product.name.slice(0, 28) }}</td>
          <td>{{ entry.amount }}</td>
          <td>{{ (entry.amount * (entry.product.price - entry.product.discount)).toFixed(2) }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th scope="col"></th>
          <th scope="col">Suma</th>
          <th scope="col">{{ totalAmount | async }}</th>
          <th scope="col">{{ (totalCostInPln | async).toFixed(2) }}</th>
        </tr>
        </tfoot>
      </table>
      <h2 *ngIf=" (totalDiscountInPln | async) !== 0">
        Dzięki zniżką udało Ci się zaoszczędzić {{totalDiscountInPln | async}} złotych! :)
      </h2>
    </div>
    <div>
      <button class="btn btn-secondary" mat-button matStepperNext>Uzupełnij dane dostawy</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Dane dostawy</ng-template>
      <div class="row">
        <mat-form-field>
          <mat-label>Miasto</mat-label>
          <input formControlName="cityCtrl" matInput placeholder="City" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Kod pocztowy</mat-label>
          <input [pattern]="'^\\d{2}([\\-]?\\d{3})?$'" formControlName="postalCodeCtrl" matInput
                 placeholder="Postal Code eg. 01-000"
                 required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Ulica</mat-label>
          <input formControlName="streetCtrl" matInput placeholder="Street" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nr budynku</mat-label>
          <input formControlName="streetNumberCtrl" matInput placeholder="Street Number" required type="number">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Typ dostawy</mat-label>
          <mat-select formControlName="deliveryType" required>
            <mat-option *ngFor="let deliveryType of (deliveryTypes | async)"
                        [value]="deliveryType.id">{{deliveryType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button class="btn btn-secondary" mat-button matStepperNext>Płatność</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Metody płatności</ng-template>
      <div class="row">
        <mat-form-field>
          <mat-label>Metody płatności</mat-label>
          <mat-select formControlName="paymentType" required>
            <mat-option *ngFor="let paymentType of (paymentTypes | async)"
                        [value]="paymentType.id">{{paymentType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="this.secondFormGroup.controls['paymentType'].value == 4 && this.paymentSuccessful == false"
           class="row" style="margin: 30px; padding: 20px">
        <div class="col-xs-12">
          <div class="card ">
            <div class="card-header">
              <div class="row">
                <h3 class="text-xs-center">Szczegóły płatności</h3>
                <img class="img-fluid cc-img"
                     src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
              </div>
            </div>
            <div class="card-block">
              <form role="form">
                <div class="">
                  <div class="col">
                    <div class="form-group mt-2">
                      <label>NUMER KARTY</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="Valid Card Number" type="tel"/>
                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="col">
                    <div class="form-group">
                      <label><span class="hidden-xs">Termin</span><span class="visible-xs-inline"></span>
                        ważności</label>
                      <input class="form-control" placeholder="MM / YY" type="tel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>CV KOD</label>
                      <input class="form-control" placeholder="CV KOD" type="tel"/>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="col">
                    <div class="form-group">
                      <label>Właściciel karty</label>
                      <input class="form-control" placeholder="Właściciel karty" type="text"/>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col">
                  <button class="btn btn-warning btn-block" (click)="onProcessPayment()">Zapłać</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="paymentSuccessful">
        Pomyślne zakończenie płatności!
      </div>
      <div>
        <button class="btn btn-secondary mr-2" mat-button matStepperPrevious>Wstecz</button>
        <button class="btn btn-success" mat-button matStepperNext>Zakończenie zamówienia</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Zakończenie zamówienia</ng-template>
    <p>Wszystkie dane zostały uzupełnione</p>
    <div>
      <button (click)="onSubmitOrder()" class="btn btn-success" style="width: 150px; height: 40px;">Złóż zamówienie</button>
      <button class="btn btn-secondary mx-2" mat-button matStepperPrevious style="width: 150px; height: 40px;">Wstecz</button>
      <button (click)="stepper.reset()" class="btn btn-danger" mat-button style="width: 150px; height: 40px;">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
