<!--<button (click)="isLinear = !isLinear" id="toggle-linear" mat-raised-button>-->
<!--  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--</button>-->
<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="zeroFormGroup">
    <ng-template matStepLabel>Summary</ng-template>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Amount</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of (bucketEntries | async), let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ entry.product.name.slice(0, 28) }}</td>
          <td>{{ entry.amount }}</td>
          <td>{{ (entry.amount * (entry.product.price - entry.product.discount)).toFixed(2) }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th scope="col"></th>
          <th scope="col">Summary</th>
          <th scope="col">{{ totalAmount | async }}</th>
          <th scope="col">{{ (totalCostInPln | async).toFixed(2) }}</th>
        </tr>
        </tfoot>
      </table>
      <h2 *ngIf=" (totalDiscountInPln | async) !== 0">
        Grats! You are saving {{totalDiscountInPln | async}} PLN today :)
      </h2>
    </div>
    <div>
      <button class="btn btn-secondary" mat-button matStepperNext>Fill out delivery data</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out delivery data</ng-template>
      <div class="row">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input formControlName="cityCtrl" matInput placeholder="City" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input [pattern]="'^\\d{2}([\\-]?\\d{3})?$'" formControlName="postalCodeCtrl" matInput
                 placeholder="Postal Code eg. 01-000"
                 required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input formControlName="streetCtrl" matInput placeholder="Street" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Street number</mat-label>
          <input formControlName="streetNumberCtrl" matInput placeholder="Street Number" required type="number">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Delivery type</mat-label>
          <mat-select formControlName="deliveryType" required>
            <mat-option *ngFor="let deliveryType of (deliveryTypes | async)"
                        [value]="deliveryType.id">{{deliveryType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button class="btn btn-secondary" mat-button matStepperNext>Payment</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Payment method</ng-template>
      <div class="row">
        <mat-form-field>
          <mat-label>Payment method</mat-label>
          <mat-select formControlName="paymentType" required>
            <mat-option *ngFor="let paymentType of (paymentTypes | async)"
                        [value]="paymentType.id">{{paymentType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="this.secondFormGroup.controls['paymentType'].value == 4 && this.paymentSuccessful == false"
           class="row" style="margin: 30px; padding: 20px">
        <div class="col-xs-12">
          <div class="card ">
            <div class="card-header">
              <div class="row">
                <h3 class="text-xs-center">Payment Details</h3>
                <img class="img-fluid cc-img"
                     src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
              </div>
            </div>
            <div class="card-block">
              <form role="form">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>CARD NUMBER</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="Valid Card Number" type="tel"/>
                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                      <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span>
                        DATE</label>
                      <input class="form-control" placeholder="MM / YY" type="tel"/>
                    </div>
                  </div>
                  <div class="col-xs-5 col-md-5 float-xs-right">
                    <div class="form-group">
                      <label>CV CODE</label>
                      <input class="form-control" placeholder="CVC" type="tel"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>CARD OWNER</label>
                      <input class="form-control" placeholder="Card Owner Names" type="text"/>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn btn-warning btn-lg btn-block" (click)="onProcessPayment()">Process payment</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="paymentSuccessful">
        Payment successful!
      </div>
      <div>
        <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
        <button class="btn btn-success" mat-button matStepperNext>Finish order</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finish order</ng-template>
    <p>You are now all set up.</p>
    <div>
      <button (click)="onSubmitOrder()" class="btn btn-success">Submit order</button>
      <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
      <button (click)="stepper.reset()" class="btn btn-danger" mat-button>Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
