<div class="h2 header">Skontaktuj się z nami poprzez formularz kontakotwy</div>
<div *ngIf="isSuccess" class="alert alert-success" role="alert">
  Dziękujemy za wysłanie wiadomości, odpowiemy na nią najszybciej jak się da.
</div>
<div *ngIf="!isLogged" class="alert alert-danger" role="alert">
  Przepraszamy ale musisz być zalogowany aby wysłać wiadomość.
</div>
<div *ngIf="isError" class="alert alert-danger" role="alert">
  Przepraszamy coś poszło nie tak, spróbuj ponownie wysłać wiadomości, a jeżeli problem będzie się
  powtarzał skontaktuj się bezpośrednio z administartorem.
</div>
<div *ngIf="isMessageToShort" class="alert alert-danger" role="alert">
  Minimalna dlugość wiadomości nie została osiągnięta.
</div>

<form>
  <div class="input-group input-group-lg mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-user"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Imie i nazwisko">
  </div>

  <div class="input-group input-group-lg mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Email">
  </div>

  <div class="input-group input-group-lg mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-pencil-alt"></i>
      </span>
    </div>
    <textarea class="form-control" placeholder="Wiadomość" rows="5"></textarea>
  </div>

  <input type="submit" value="Wyślij" class="btn btn-success btn-block btn-lg">
</form>

 
