<div class="h2 header">Skontaktuj się z nami poprzez formularz kontakotwy</div>
<div *ngIf="isSuccess" class="alert alert-success" role="alert">
  Dziękujemy za wysłanie wiadomości, odpowiemy na nią najszybciej jak się da.
</div>
<div *ngIf="!isLogged" class="alert alert-danger" role="alert">
  Przepraszamy ale musisz być zalogowany aby wysłać wiadomość.
</div>
<div *ngIf="isError" class="alert alert-danger" role="alert">
  Przepraszamy coś poszło nie tak, spróbuj ponownie wysłać wiadomości, a jeżeli problem będzie się
  powtarzał skontaktuj się bezpośrednio z administartorem.
</div>
<div *ngIf="isMessageToShort" class="alert alert-danger" role="alert">
  Minimalna dlugość wiadomości nie została osiągnięta.
</div>
<form>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">Twój nickname</label>
    <div class="col-8">
      <input [disabled]="true" value="{{userNickName}}" id="text1" name="text2" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">Twoje imie</label>
    <div class="col-8">
      <input [disabled]="true" value="{{userFirstName}}" id="text2" name="text2" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">Twoje nazwisko</label>
    <div class="col-8">
      <input [disabled]="true" value="{{userLastName}}" id="text3" name="text2" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">Twój email</label>
    <div class="col-8">
      <input [disabled]="true" value="{{userEmail}}" id="text4" name="text2" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="textarea" class="col-4 col-form-label">Text Area</label>
    <div class="col-8">
      <textarea [(ngModel)]="message.content" id="textarea" name="textarea" cols="60" rows="10"
                class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button [disabled]="!isLogged" (click)="sendMessage()" name="submit" type="submit" class="btn btn-primary">
        Submit
      </button>
      <button *ngIf="isLogged" (click)="sendMessage()" routerLink="/ftr/myMessages" name="submit" type="submit" class="btn btn-success messages-button">
        Moje wiadomości
      </button>
    </div>
  </div>
</form>
