<div class="row">
  <div class="col-md-12">
    <img
      [src]="product.image"
      alt="{{ product.name }}"
      class="img-responsive"
      style="max-height: 400px"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 [textContent]="product.name">Product Name</h1>
  </div>
</div>
<div class="row asd">
  <div class="text-info asd">Price: {{product.price}} PLN</div>
  <div class="text-info asd">Discount: {{product.discount}} PLN</div>
  <div class="text-info asd">On stock: {{product.items_left}} </div>
  <div class="text-info asd">Expires on: {{product.expiration_timestamp}}</div>
</div>
<div class="row">
  <div [textContent]="product.description" class="col-xs-12">
    Desc...
  </div>
</div>

<div class="row">
  <form #productsAmountForm="ngForm" (ngSubmit)="onSubmitItem()">
    <div class="col-xs-5">
      <label for="amount">Amount</label>
      <input
        class="form-control"
        id="amount"
        name="amount"
        ngModel
        type="number"
        required
        pattern="^[1-9]+[0-9]*$"
      >
    </div>

    <div class="col-xs-7">
      <button
        [disabled]="productsAmountForm.invalid || !canAddToBucket()"
        class="btn btn-success"
        type="submit">Add to bucket
      </button>
    </div>
  </form>
</div>

