<div class="card">
  <img [src]="product.image" alt="{{ product.name }}" class="card-img-top img-fluid" [ngStyle]="{maxWidth: '200px', maxHeight: '200px'}">
  <app-leasing-widget [products]="product.asSingletonArray()"></app-leasing-widget>
  <div class="card-body">
    <h3 class="card-title">
      {{ product.name }}
      <h5>
        <small class="text-warning mb-2">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </small>
        ({{ 40 }})
      </h5>
    </h3>
    <h4 class="mb-2">
      {{product.net_value}} zł
    </h4>
    <h5>
      <p class="my-1">Zniżka: {{product.discount}} zł</p>
      <p class="my-1">Na magazynie: {{product.items_left}} sztuk</p>
      <p class="my-1">Oferta ważna do: {{product.expiration_timestamp}}</p>
    </h5>
    <p [textContent]="product.description" class="card-text"></p>
  </div>
  <div class="card-footer">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmitItem()">
      <div class="d-flex">

        <label for="productAmount" class="form-control" style="width: 80px;">Sztuk</label>

        <input
          type="number"
          id="productAmount"
          formControlName="productAmount"
          style="width: 80px;"
          class="form-control mx-2">

        <button
          [disabled]="inputForm.invalid"
          class="btn btn-success btn-block"
          style="height: 38px;"
          type="submit">Dodaj do koszyka!
        </button>

      </div>
    </form>
  </div>
</div>

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    Recenzje
  </div>
  <div class="card-body">

    <div *ngFor="let review of reviews">
      <p>{{ review.comment }}</p>
      <small class="text-muted">Opublikowano przez {{ review.username }} ocena: {{ review.rating }}</small>
      <hr>
    </div>
  </div>
</div>
