<div class="card">
  <img [src]="product.image" alt="{{ product.name }}" class="card-img-top img-fluid">
  <div class="card-body">
    <h3 class="card-title">
      {{ product.name }}
      <h5>
        <small class="text-warning mb-2">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </small>
        ({{ 40 }})
      </h5>
    </h3>
    <h4 class="mb-2">
      {{product.price}} PLN
    </h4>
    <h5>
      <p class="my-1">Zniżka: {{product.discount}} PLN</p>
      <p class="my-1">Na magazynie: {{product.items_left}} sztuk</p>
      <p class="my-1">Oferta ważna do: {{product.expiration_timestamp}}</p> 
    </h5>
    <p [textContent]="product.description" class="card-text"></p>
  </div>
  <div class="card-footer">
    <form #productsAmountForm="ngForm" (ngSubmit)="onSubmitItem()">
      <div class="d-flex">
        
          <label for="amount" class="form-control" style="width: 80px;">Sztuk</label>
                
          <input
            style="width: 80px;"
            class="form-control mx-2"
            id="amount"
            name="amount"
            ngModel
            pattern="^[1-9]+[0-9]*$"
            required
            type="number"
          >
               
          <button
            [disabled]="productsAmountForm.invalid || !canAddToBucket()"
            class="btn btn-success btn-block"
            style="height: 38px;"
            type="submit">Dodaj do koszyka!
          </button>
       
      </div>
    </form>
  </div>
</div>



<!--Wyswietlanie recenzji-->

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    Recenzje
  </div>
  <div class="card-body">
    <div *ngFor="let review of reviews">
      <p>{{ review.comment }}</p>
      <small class="text-muted">Opublikowano przez {{ review.username }} ocena: {{ review.rating }}</small>
      <hr>
    </div>
    <div *ngIf="authenticationService.isLogged()">
      <div class="row">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()" class="">
          <div class="form-row col">
            <label class="col">Ocena</label>
            <select formControlName="rating" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.rating.errors }">
              <option [ngValue]=""></option>
              <option [ngValue]="0">0</option>
              <option [ngValue]="1">1</option>
              <option [ngValue]="2">2</option>
              <option [ngValue]="4">4</option>
              <option [ngValue]="5">5</option>
            </select>
            <div *ngIf="submitted && f.rating.errors" class="invalid-feedback">
              <div *ngIf="f.rating.errors.required">Rating field is required</div>
            </div>
          </div>
          <div class="form-row col">
            <label class="mt-2">Komentarz</label>
            <input type="text" formControlName="comment" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.comment.errors }">
            <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
              <div *ngIf="f.comment.errors.required">Comment field is required</div>
            </div>
          </div>
          <div class="submit col">
            <button class="btn btn-dark mt-2">Wyślij recenzje</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>

